[submodule "ip/zipcpu_ip/wb2axip"]
	path = ip/zipcpu_ip/wb2axip
	url = https://github.com/KastnerRG/wb2axip.git
[submodule "ip/pulp_ip/pulp_platform/axi"]
	path = ip/pulp_ip/pulp_platform/axi
	url = git@github.com:KastnerRG/pulp_axi.git
